<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58003684894-6p4708dbov7kocd8o6f4mdi62fddh4ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58003684894-6p4708dbov7kocd8o6f4mdi62fddh4ug</string>
	<key>API_KEY</key>
	<string>AIzaSyAODh0Wt7Y3Nl5NGfdSJ-Mfbf7Gab4mVZs</string>
	<key>GCM_SENDER_ID</key>
	<string>58003684894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-rgludovico</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-rgludovico.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58003684894:ios:70f5e554eebbf65dfeb80f</string>
</dict>
</plist>